div{
    border: 1px solid yellowgreen;
    width: 400px;
}

.nav li{
    display: inline-block;
     width: 60px;
     background:  violet;
     text-align: center;
     padding: 10px;
     border-radius: 5px;
}

a,
a:link,
a:visited,
a:active,
a:focus
{
    text-decoration: none;
     color: blue;
    font-size: 16px;
}

a:hover{
    text-decoration: none;
     color: green;
    font-size: 16px;

}