/* 그림자 효과가 적용될 div에 해당하는 선택자를 사용합니다. */
.shadowed-div 
{

    background:aquamarine;
    height:80px;
    width:100px;
    border:4px solid black;
    border-radius:15px;
    font-size:30px;
    margin:60px;
    padding:50px;
    display:block;
    margin-left:auto;
    margin-right:auto;

    /* 그림자 효과 설정 */
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}