fieldset {
    border: none;
    width: 600px;
    padding: 50px;
    overflow: hidden;
    background-color: var(--clr-container-bg);
    border-radius: 20px;
}

fieldset > label input[type=radio] {
    display: none;
}

fieldset > label > div {
    display: grid;
    grid-template-rows: 0fr;
    transition: all ease-in-out 300ms;
    overflow: hidden;
    padding: 10px;

}

fieldset > label > input[type=radio]:checked + div {
    grid-template-rows: 1fr;

}